{{#with info}}
    <div class='row card-container center separator'>
        <h1 class="main-title">Info</h1>
        <div class="col-sm-6">
        <label>Argumentos Entrada: </label> <span>{{argIn}}</span>
        </div>
        <div class="col-sm-6">
        <label>Path de ejecucion: </label> <span>{{executionPath}}</span>
        </div>
        <div class="col-sm-6">
        <label>Sistema Operativo: </label> <span>{{operativeSystem}}</span>
        </div>
        <div class="col-sm-6">
        <label>Process ID: </label> <span>{{processId}}</span>
        </div>
        <div class="col-sm-6">
        <label>Version Node: </label> <span>{{nodeVersion}}</span>
        </div>
        <div class="col-sm-6">
        <label>Carpeta Corriente: </label> <span>{{folder}}</span>
        </div>
        <div class="col-sm-6">
        <label>Uso de Memoria: </label> <span>{{memory}}</span>
        </div>
        <div class="col-sm-6">
        <label>Cantidad de procesadores: </label> <span>{{cpuProcess}}</span>
        </div>
    </div>
{{/with}}
